.product_item{
    transition: .3s all ease-in-out;
    &:hover{
        background-color: rgb(214, 246, 246);
    }
}

.productDetail{
    min-height: 280px;
    h1{
        font-size: 1.6rem;
    }
    p{
        width: 50%;
        margin-right:auto;
    }

    @media (max-width: 1200px) { 
        h1{
            font-size: 1.3rem;
        }
        p{
            width: 100%;
            margin-bottom: 20px;
        }
     }
     @media (max-width: 768px) {
        h1{
            font-size: 1.6rem;
        }
        p{
            width: 100%;
            margin-bottom: 0;
        }
     }
}

.categoriesTitle{
    font-size: max(1.2rem,2.2vw);
    width: max(3rem,25vw);
    min-width: 10rem;
    background-color: var(--primary);
    margin-bottom: 1rem;
    transition: .5s all ease-in-out;
    &:hover{
        background-color: var(--font-highlight);
    }
}