.CategoriesCanvas{
    background: linear-gradient(180deg, rgba(243,255,248,1) 0%, rgba(129,235,219,1) 30%);
}

.Categories{
    font-family: var(--Montserrat);
    height: 100%;
    position: relative;
    h1{
        font-size: 5rem;
        max-height: 100%;
        overflow: scroll;
    }
    p{
        text-align: justify;
        font-size: 1.5rem;
        padding: 2rem 1rem;
        width: 80%;
    }
    img{
        width: 100%;
        height: 100%;
    }
    
}

.CategoriesWrapper{
    margin-top: -5rem;
    padding-top: 10rem;
}
.Grid{
    transition: 1s all ease-in-out;
    &:hover{
        background-color: var(--hover_color);
    }
}
.UpperGrid{
    height: var(--custom_height);
}
.BottomLogan{
    height: calc(100% - var(--custom_height));
    overflow: auto;
    white-space:nowrap;
    span{
        font-size: 8rem;
        width: inherit;
        padding: 0;
        font-weight: bolder;
        font-family: var(--Playfair);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        animation: 15s slideLeft forwards infinite linear;
        transition: 1s all ease-in-out;
        cursor: default;
        &:hover{
            -webkit-text-fill-color: whitesmoke;
            -webkit-text-stroke-color: black;
        }
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(25%);
    }
    100%{
        transform: translateX(-100%);
    }
}