
.CategoriesCanvas{
    background: linear-gradient(180deg, rgba(243,255,248,1) 0%, rgba(129,235,219,1) 30%);
    margin-top: -5rem;
    padding-top: 10rem;
}

.Categories{
    font-family: var(--Montserrat);
    height: 100%;
    position: relative;
    h1{
        font-size: 4rem;
        max-height: 100%;
        overflow: scroll;
    }
    p{
        text-align: justify;
        font-size: 1.5rem;
        width: 85%;
    }
    @media (max-width: 768px){
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size:0.85rem;
        }
    }
    @media (max-width: 992px) {
        h1{
            font-size: 4rem;
        }
        p{
            font-size:1.2rem;
        }
    }
    
}

.Grid{
    transition: 1s all ease-in-out;
    min-height: 90vh;
    cursor: pointer;
    &:hover{
        background-color: var(--hover_color);
    }
    &:hover .GridPhoto{
        background: var(--convert_img);
    }
}
.UpperGrid{
    height: var(--custom_height);
}
.BottomLogan{
    height: calc(100% - var(--custom_height));
    overflow: auto;
    white-space:nowrap;
    span{
        font-size: 7rem;
        width: inherit;
        padding: 0;
        font-weight: bolder;
        font-family: var(--Playfair);
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        animation: 15s slideLeft forwards infinite linear;
        transition: .3s all ease-in-out;
        cursor: default;
        &:hover{
            color: rgb(247, 249, 207);
            -webkit-text-stroke-color: black;
        }
    }
}
.GridPhoto{
    background:var(--default_img) center/cover;
    min-height: 90vh;
    transition: .5s all ease-in-out;
}

@keyframes slideLeft {
    0%{
        transform: translateX(25%);
    }
    100%{
        transform: translateX(-100%);
    }
}