.header{
    ul{
        li{
            a{
                transition: .5s all ease-in-out;
                color: var(--font-color)!important;
                font-family: var(--Playfair);
                &:hover{
                    color: var(--font-highlight)!important;
                }
            }
        }
    }
} 

.ShoppingIcon{
    svg{
        color: var(--font-color)!important;
        transition: .5s all ease-in-out;
        &:hover{
            color: var(--font-highlight)!important;
        }
    }
}