.product_wrapper{
    margin: 2rem;
    padding: 2rem;
}

.product_img{
    position: relative;
    width: max(200px,50vw);
    height: max(200px,50vw);
    margin:0 auto ;
}
.product_detail{
    padding: 1rem;
    position: relative;
}

.product_logo{
    position: relative;
    width: max(50px,20vw);
    height: max(50px,20vw);
}

.product_detail_inner{
    width: 80%;
    padding-top: 2rem;
    p{
        text-align: justify;
    }
}
