* {
  box-sizing:border-box;
}
html,body {
  padding: 0;
  margin: 0;
  font-family: var(--Playfair);
  background-color:var(--background-color);
  overflow-x: hidden;
}
div{
  position: relative;
  transition: 1s all ease-in-out;
}
a {
  color: black!important;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    cursor: pointer;
  }
}
h1,h2,h3,h4,h5,h6,span,p{
  margin: 0;
}

.pointer{
  cursor: pointer;
}

.default{
  cursor:default
}


::-webkit-scrollbar{
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root{
  --primary:#008AB7;
  --secondary-color:#dae8e2;
  --background-color:#f3fff8;
  --secondary-background-color:#00C5A9;
  --button-color:#E6FFFF;
  --button-secondary-color:#b8f5ac;
  --font-color:#006BAA;
  --font-highlight:#00A8B5;
}

@import '../styles/font/font.scss'